<h1>Editing entity</h1>

<%= render "editform", entity: @entity %>

<br>

<div>
  <%= link_to "Show this entity", group_entity_path(params[:group_id],@entity.id) %> |
  <%= link_to "Back to entities", group_entities_path %>
</div>
