<%= render "navbar/navbar", nav_name: "EDIT TRANSACTION" %>

<%= render "editform", entity: @entity, user_id: @user_id  %>
<br>

<div class="group-links">
  <%= link_to "Back to group", group_path(params[:group_id]) %>
</div>
